<h2>Employee List</h2>
<a routerLink="/employee/new" class="btn btn-primary">Add Employee</a>
<div class="table-container">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Office</th>
        <th>Salary</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.name }}</td>
        <td>{{ employee.position }}</td>
        <td>{{ employee.office }}</td>
        <td>{{ employee.salary }}</td>
        <td>
          <button
            [routerLink]="['/employee/edit', employee.id]"
            class="btn btn-success"
          >
            Edit
          </button>
          <button (click)="deleteEmployee(employee.id)" class="btn btn-danger">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
